
.patient-modal-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    margin: auto;
}

.patient-modal-in{
    width: 50%;
}